.home_page {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
}
.home_text {
  color: var(--Text, #0d0842);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #0d0842;
}

.home_h6 {
  width: 453px;
  color: var(--Text, #0d0842);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #0d0842;
}

.home_bt {
  display: inline-flex;
  padding: 7px 49px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--General-color, #ffce1a);
  box-shadow: 0px 0px 0px 0px rgba(254, 175, 56, 0.1),
    -1px 1px 3px 0px rgba(254, 175, 56, 0.1),
    -5px 2px 6px 0px rgba(254, 175, 56, 0.09),
    -12px 5px 8px 0px rgba(254, 175, 56, 0.05),
    -21px 8px 9px 0px rgba(254, 175, 56, 0.01),
    -33px 13px 10px 0px rgba(254, 175, 56, 0);
}
.Top_sellers {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  color: var(--Text, #0d0842);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 80px;
}
.div_img_home {
  width: 400px;
  height: 350px;
  margin-left: 300px;
}
.div_img {
  width: 400;
  height: 70px;
  flex-shrink: 0;
  margin-left: 400px;
}
